<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <div class="jumbotron text-center">
        <a href="/amis/add" class="btn btn-dark btn-lg btn-block">Ajouter un ami</a><br><br>
        <a href="/info" class="btn btn-dark btn-lg btn-block">Votre informations personnelles</a><br><br>
        <a href="/evenements/add" class="btn btn-dark btn-lg btn-block">Créer un évenement</a>
    </div>
</div>
