

<div class="card card-body">
    <h3>Ajouter un ami</h3>
    <form action="/amis" method="post">
        <div class="form-group">
            <label for="login">login</label>
            <input type="text" class="form-control" name="login" value="{{login}}">
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>