{{#each evenements}}
    <div class="card card-body mb-2">
        <h4>Titre : {{title}}</h4>
        <p>Lieu : {{lieu}}</p>
        <p>Heure : {{heure}}</p>
    </div>
{{else}}
    <p>Il n'y a pas d'évenements</p>
{{/each}}